<!DOCTYPE html>
<html lang="ru">
 <head> 
  <meta charset="utf-8" /> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody> 
   </tbody> 
   <tbody>                            
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12509474?query=java%20Lvov">Middle JAVA Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12200763?query=java%20Lvov">Senior Java Developer (Lviv)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12509416?query=java%20Lvov">Senior Android developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">MERA Software Services d.o.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12489086?query=java%20Lvov">Senior Android Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12451079?query=java%20Lvov">Senior iOS Software Engineer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">SoftServe</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12420704?query=java%20Lvov">Senior Java Developer (Люблин)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Школа риторики й ораторства Ірини Снітинської АҐРУС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12496347?query=java%20Lvov">Junior Java Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Unkur Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12228408?query=java%20Lvov">Java programist</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Quantum International</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12228475?query=java%20Lvov">Программист Java</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Quantum International</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12518091?query=java%20Lvov">Junior Software Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Unkur Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12351127?query=java%20Lvov">Android Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Lemberg Solutions Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12446789?query=java%20Lvov">Senior PHP Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Symphony Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12446821?query=java%20Lvov">WordPress Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Symphony Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12449061?query=java%20Lvov">Senior MS SharePoint .NET Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Symphony Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12446905?query=java%20Lvov">Junior Back-End ABAP Developer</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Symphony Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="http://reutov.hh.ru/vacancy/12446849?query=java%20Lvov">Junior Front End Developers</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Symphony Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>